<div class="div-1">
  <button class="buttno-mass" nz-button (click)="showModalMassMessage()">Mass Message</button>
  <nz-modal [(nzVisible)]="isVisibleMassMessage" nzTitle="Send Mass Message" (nzOnCancel)="handleCancelMassMessage()"
    (nzOnOk)="handleOkMassMessage()">
    <ng-container *nzModalContent>
      <div class="clearfix">
        <div style="padding-bottom: 20px ;">
          <div class="row col-md-12">
            <input type="file" (change)="CreateBase64String($event)" class="fileInputProfile form-control">
          </div>
          <div class="img-space">
            <ng-container *ngIf="isImageSaved;">
              <img [src]="cardImageBase64" style="width: 150px;height:150px;" />
            </ng-container>
          </div>
        </div>
      </div>

      <textarea class="message-area" rows="4" nz-input [(ngModel)]="message"></textarea>
    </ng-container>
  </nz-modal>
</div>
<nz-table #basicTable [nzData]="listOfData">
  <thead>
    <tr>
      <th [nzSelections]="listOfSelection" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>User Name</th>
      <th>Enable</th>
      <th style="text-align: center;">About</th>
      <th style="text-align: center;">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let idx = index">
      <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
      <td>{{data.firstName}}</td>
      <td>{{data.lastName}}</td>
      <td>{{data.userName}}</td>
      <td>{{data.enable}}</td>
      <td style="text-align: center;">
        <button nz-button nzType="primary" (click)="open(data.id)">About</button>

        <nz-drawer [nzClosable]="false" [nzSize]="size" [nzVisible]="visible" nzPlacement="right"
          nzTitle={{tempClient?.firstName}} (nzOnClose)="close()">
          <ng-container *nzDrawerContent>
            <nz-tabset>
              <nz-tab nzTitle="About Client">
                <p style="font-style: italic;">First Name: {{tempClient?.firstName}}</p>
                <p style="font-style: italic;">Last Name: {{tempClient?.lastName}}</p>
                <p style="font-style: italic;">User Name: {{tempClient?.userName}}</p>
                <p style="font-style: italic;">Enable: <nz-switch [(ngModel)]="switchValue" (click)="clickSwitch()">
                  </nz-switch>
                </p>
              </nz-tab>


              <nz-tab nzTitle="Reminders">
                <div><button nz-button (click)="showModal()"><span>Add reminder</span></button>
                  <div style="padding-top: 25px; padding-bottom: 25px">
                    <nz-collapse>
                      <nz-collapse-panel *ngFor="let panel of listClientReminder" [nzHeader]="panel.reminderName" 
                        >
                        <p style="margin:0;">
                          {{panel.message}}
                          <br />
                          <button style="margin-top:25px ;" class="button-delete" nz-button nzType="primary"
                            nzDanger (click)="deleteReminder(panel)">Delete</button>
                        </p>
                      </nz-collapse-panel>
                    </nz-collapse>
                  </div>
                  <nz-modal [(nzVisible)]="isVisible" nzTitle={{programare}} (nzOnCancel)="handleCancel()"
                    (nzOnOk)="handleOk()">
                    <ng-container *nzModalContent>
                      <div style="width: 23em; padding-bottom: 25px"> <input nz-input placeholder="Reminder title"
                          [(ngModel)]="reminderName" />
                        <br />
                      </div>
                      <div [ngStyle]="{width: '300px', border: '1px solid #d9d9d9', borderRadius: '4px' }">
                        <nz-calendar [nzFullscreen]="false" (nzSelectChange)="onValueChange($event)"
                          (nzPanelChange)="onPanelChange($event)"></nz-calendar>
                      </div>
                      <div style="padding-top: 25px;">
                        <nz-time-picker [(ngModel)]="time" [nzDefaultOpenValue]="defaultOpenValue" (nzSelectChange)="onValueTime()"></nz-time-picker>
                      </div>
                      <p style="padding-top: 25px;">Message:</p>
                      <textarea rows="4" nz-input [(ngModel)]="reminderMessage"></textarea>
                    </ng-container>
                  </nz-modal>
                </div>
              </nz-tab>

              <nz-tab nzTitle="Send message">
                <div class="clearfix">
                  <div style="padding-bottom: 20px ;">
                    <div class="row col-md-12">
                      <input type="file" (change)="CreateBase64String($event)" class="fileInputProfile form-control">
                    </div>
                    <div class="img-space">
                      <ng-container *ngIf="isImageSaved;">
                        <img [src]="cardImageBase64" style="width: 150px;height:150px;" />
                      </ng-container>
                    </div>
                  </div>
                </div>

                <textarea rows="4" nz-input [(ngModel)]="message"></textarea>
                <div style="margin-top: 8px; width : 40px "><button nz-button nzType="primary"
                    (click)="Sned()">Send</button></div>
              </nz-tab>

              <nz-tab nzTitle="Feedback">
                <div  *ngFor="let panel of listClientFeeedback">
                  <nz-comment nzAuthor={{tempClient?.firstName}}>
                    <nz-avatar nz-comment-avatar nzIcon="user"
                      ></nz-avatar>
                    <nz-comment-content>
                      <p>
                        {{panel.feedback}}
                      </p>
                    </nz-comment-content>
                  </nz-comment>
                </div>
              </nz-tab>
            </nz-tabset>
          </ng-container>
        </nz-drawer>

      </td>
      <td style="text-align: center;"><button class="button-delete" nz-button nzType="primary" nzDanger
          (click)="deleteClient(data)">Delete</button></td>


    </tr>
  </tbody>
</nz-table>